<!DOCTYPE html>
<html>
  <head>
    <title>SWapi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
       <select class="filmlist">
         <%- films%>
       </select>

       <ul class="charslist"> 
        <%- chars%>
       </ul>
      

      <div class="loader" style=<%- loaderstyle%>>
         <img class="gif" src="./images/loader.gif">
      </div>
    <script src='./js/main.js'></script>
  </body>
</html>
   

   
